section h1 {
    color: red;
}

section h2 {
    background-color: inherit;
}

section h3 {
    background-color: green;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: max-content;
    height: max-content;
}

section {
    text-align: center;
    background-color: beige;
    padding: 30px;
    width: max-content;
    height: max-content;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section * {
    display: block;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;
}