@media print {

  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    font-family: 'Times New Roman', Times, serif;
    background-color: white !important;
    text-wrap-style: pretty !important;
    text-wrap: pretty !important;
  }

  header,
  footer {
    display: none;
  }

  aside h2#cv_name {
    font-size: 25px !important;
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
    border: 0 !important;
  }

  h2 {
    font-size: larger !important;
  }

  h3 {
    font-size: medium !important;
  }

  h1,
  h2,
  h3 {
    background-color: inherit !important;
    color: hsl(var(--accent)) !important;
  }

  aside h2 {
    margin-bottom: 0.5rem !important;
  }

  aside {
    background-color: hsl(var(--accent)) !important;
  }

  h2 {
    border-bottom: 3px solid lightskyblue !important;
  }

  aside :is(h2, h3) {
    color: hsl(var(--accent-foreground)) !important;
  }

  aside p {
    color: hsl(var(--secondary)) !important;
  }

  aside .badge {
    background-color: hsl(var(--secondary)) !important;
    color: var(--secondary-foreground) !important;
  }

  p {
    color: black !important;
  }
}

@page {
  size: auto;
  margin: 10mm;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: auto;
  }
}